<!DOCTYPE html>
<html lang="en" ng-app="todoList">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>todo list</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <!-- build:css vendor.min.css -->
        <!-- bower:css -->
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css css/style.min.css -->
        <link rel="stylesheet" href="css/style.css">
        <!-- endbuild -->
    </head>
    <body>
    <!-- <body ng-controller="todoListController"> -->
        <div class="header" ng-controller="CategoryController">
            <div class="container">
                <a ui-sref="/">
                    <img src="http://vignette2.wikia.nocookie.net/transformers/images/b/bc/Autobot_logo.svg/revision/latest?cb=20130503211304"
                    width="80" height="80">
                </a>
                <form>
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="addCatetory()">Add Category</button>
                        </span>
                        <input type="text" class="form-control" placeholder="category name" ng-model="categoryName">
                    </div>
                </form>
                <br>
                <div class="dropdown">
                    <button ng-disabled="disableDropDown" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Categories
                    <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li ng-repeat="category in categories"><a ui-sref="category({categoryId: category })">{{ category }}</a></li>
                    </ul>
                </div>
                <a ui-sref="all-categories">View all categories</a>
            </div>
        </div>

        <div ui-view></div>



        <!-- build:js js/vendor.min.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-hotkeys/build/hotkeys.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:js js/script.min.js -->
        <script src="templates.module.js"></script>
        <script src="templates/templates.js"></script>
        <script src="core/core.module.js"></script>
        <script src="core/filters/filters.module.js"></script>
        <script src="core/notes/notes.module.js"></script>
        <script src="core/notes/notes.service.js"></script>
        <script src="app.module.js"></script>
        <script src="app.config.js"></script>
        <script src="controllers/todoListController.js"></script>
        <script src="controllers/CategoryController.js"></script>
        <script src="controllers/allCategoriesController.js"></script>
        <script src="controllers/oneCategoryController.js"></script>
        <script src="controllers/welcomeController.js"></script>
        <!-- <script src="core/photo/photo.module.js"></script> -->
        <!-- <script src="core/photo/photo.service.js"></script> -->
        <!-- <script src="images/images.directive.js"></script>
        <script src="addsection/addsection.directive.js"></script>
        <script src="popup/popup.directive.js"></script> -->
        <!-- endbuild -->
    </body>
</html>