.list-of-tasks {
	min-height: 50px;
	margin-bottom: 0;
}


.list-of-tasks[dnd-list] .dndDraggingSource {
	display: none;
}

.list-of-tasks[dnd-list],
.list-of-tasks[dnd-list] > li {
	position: relative;
}

.list-of-tasks[dnd-list] > li {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.list-of-tasks[dnd-list] li dnd-nodrag {
	display: table;
	vertical-align: top;
	width: 100%;
	padding-left: 20px;
}

.list-of-tasks .handle {
  cursor: move;
  position: absolute;
  top: 14px;
  left: 0;
}


.list-of-tasks[dnd-list] .dndPlaceholder {
	position: relative;
	display: block;
	width: 100%;
	min-height: 50px !important;
	list-style-type: none;
	border: 2px dashed #aaa;
	border-radius: 3px;

	&:before {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		content: "drop here";
		font-size: 14px;
		color: #aaa;
	}
}

.list-of-tasks[dnd-list].dndDragover {
	// border: 1px solid #999;
}


.list-of-tasks__item {
	display: table;
	vertical-align: top;
	padding-left: 0;
	width: 100%;
	border: none;

	&:hover {
		.list-of-tasks__icon {
			display: block;
		}
	}
}

.list-of-tasks__icon {
	@extend %icon-style;
}

.list-of-tasks__icon-remove {
	padding-top: 1px;
}

.list-of-tasks__item-cell {
	display: table-cell;
	vertical-align: top;

	&:nth-child(2) {
		width: 15px;
		padding-top: 5px;
	}

	&:last-child {
		width: 15px;
		padding-top: 5px;
	}
}
.list-of-tasks__item-text {
	min-height: 20px;
	line-height: 20px;
    word-break: break-word;
}

.list-of-tasks__item-text--checked {
	text-decoration: line-through;
	color: #999;
}

.list-of-tasks__item-area {
	@extend %no-focuse-res;
}

.list-of-tasks__item-area,
.list-of-tasks__item-text {
	border: none;
	margin: 0;
	padding: 5px;
}