.list-of-tasks {
	min-height: 50px;
	margin-bottom: 0;
}

.list-of-tasks[dnd-list] .dndDraggingSource {
	display: none;
}

.list-of-tasks[dnd-list] .dndPlaceholder {
	display: block;
	width: 100%;
	min-height: 50px !important;
	list-style-type: none;
	background: red;
}

.list-of-tasks[dnd-list].dndDragover {
	// border: 1px solid #999;
}

.list-group-item {
	display: table;
	vertical-align: top;
	width: 100%;
	border: none;
}

.list-of-tasks__item-cell {
	display: table-cell;
	vertical-align: top;

	&:first-child {
		width: 15px;
		padding-top: 5px;
	}

	&:last-child {
		width: 15px;
		padding-top: 5px;
	}
}
.list-of-tasks__item-text {
	min-height: 20px;
	line-height: 20px;
    word-break: break-word;
}

.list-of-tasks__item-text--checked {
	text-decoration: line-through;
	color: #999;
}

.list-of-tasks__item-area {
	@extend %no-focuse-res;
}

.list-of-tasks__item-area,
.list-of-tasks__item-text {
	border: none;
	margin: 0;
	padding: 5px;
}