.plain-text {

}

.plain-text__text {
	min-height: 20px;
	line-height: 20px;
    word-break: break-word;
}

.plain-text__area {
	@extend %no-focuse-res;
}

.plain-text__area,
.plain-text__text {
	border: none;
	margin: 0;
	padding: 5px;
}