<div class="header">
{{ todos.categories | json}}
	<div class="container">
		<a ui-sref=".recent">
			<img src="http://vignette2.wikia.nocookie.net/transformers/images/b/bc/Autobot_logo.svg/revision/latest?cb=20130503211304"
			width="80" height="80">
		</a>
		<form>
			<div class="input-group">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button" ng-click="addCatetory()">Add Category</button>
				</span>
				<input type="text" class="form-control" placeholder="category name" ng-model="categoryName">
			</div>
		</form>
		<br>
		<div class="dropdown">
			<button ng-disabled="todos.categories.length ? false : true" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			Categories
			<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				<li ng-repeat="category in todos.categories">
					<a ui-sref=".category({categoryId: category })">{{ category }}</a>
				</li>
			</ul>
		</div>
		<a ui-sref=".all-categories">View all categories</a>
	</div>
</div>

<!-- disableDropDown -->