<div class="header">
	<div class="container">
		<a ui-sref=".recent">
			<img src="http://static.tumblr.com/dfca590769e2c7630fffcd4f073a851e/vmdywfv/AIgmosa4l/tumblr_static_notes_logo_square.jpg"
			width="80" height="80">
		</a>
		<div class="row">
			<div class="col-sm-6">
				<form>
					<div class="input-group">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button" ng-click="addCatetory()">Add Category</button>
						</span>
						<input type="text" class="form-control" placeholder="category name" ng-model="categoryName">
					</div>
				</form>
			</div>
			<div class="col-sm-6">
				<div class="btn-group" uib-dropdown is-open="status.isopen">
				    <button
				    	type="button"
				    	class="btn btn-default"
				    	uib-dropdown-toggle
				    	ng-disabled="todos.categories.length ? false : true"
				    >
				        Categories <span class="caret"></span>
				    </button>
			      	<ul
			      		class="dropdown-menu"
			      		uib-dropdown-menu role="menu"
			      		aria-labelledby="single-button"
			      	>
				      	<li ng-repeat="category in todos.categories">
							<a ui-sref=".category({categoryId: category })">{{ category }}</a>
						</li>
			      	</ul>
			    </div>
			</div>
		</div>
	</div>
</div>