<ul
	class="list-group list-of-tasks"
	dnd-list="unCompleted"
	dnd-allowed-types="note.allowedTypes"
	>
	<!-- {{note.allowedTypes}} -->
	<li
		class="list-group-item list-of-tasks__item"
		ng-repeat="item in unCompleted"
		dnd-type="item.type"
		dnd-draggable="item"
		dnd-moved="unCompleted.splice($index, 1); writeListOrder(unCompleted);"
		dnd-effect-allowed="move"
		dnd-dragstart="logEvent(event, 'Started to drag an listItem')">
		<!-- {{item.type}} -->
		<dnd-nodrag>
			<div dnd-handle class="handle">:::</div>
			<div class="list-of-tasks__item-cell">
				<input type="checkbox" ng-model="item.isCompleted" ng-change="change(item.id)">
			</div>
			<div class="list-of-tasks__item-cell">
				<div class="list-of-tasks__item-text" data-id="{{item.id}}" ng-click="edit(item.id)">{{ item.text}}</div>
				<textarea
					class="list-of-tasks__item-area"
					data-id="{{item.id}}"
					hidden
					ng-blur="saveText(item.id)"
					ng-keypress="addNoteAfterNote($event, item.id)"
				></textarea>
			</div>
			<div class="list-of-tasks__item-cell" class="clearfix">
				<a href="#" class="list-of-tasks__icon  list-of-tasks__icon-remove  glyphicon glyphicon-remove  pull-right" aria-hidden="true" ng-click="delete($event, item.id)"></a>
			</div>	
		</dnd-nodrag>
	</li>
</ul>
<div>
	<div class="list-group-item list-of-tasks__item">
		<div class="list-of-tasks__item-cell">
		</div>
		<div class="list-of-tasks__item-cell">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		</div>
		<div class="list-of-tasks__item-cell">
			<div class="list-of-tasks__item-text" id="newItem-001" ng-click="editNew()">
				добавить
			</div>
			<textarea
				class="list-of-tasks__item-area"
				id="newItem-001"
				hidden
				ng-blur="addNew($event)"
				ng-keypress="addNewByKeyPress($event)"></textarea>
		</div>
		<div class="list-of-tasks__item-cell">
		</div>
	</div>
</div>
<hr style="border-top-color: #000">
<ul class="list-group completed" >
	<li class="list-group-item list-of-tasks__item" ng-repeat="item in completed">
		<div class="list-of-tasks__item-cell">
		</div>
		<div class="list-of-tasks__item-cell">
			<a href="#" class="list-of-tasks__icon  glyphicon glyphicon-arrow-up  pull-right" aria-hidden="true" ng-click="fromCompleted($event, item.id)"></a>
		</div>
		<div class="list-of-tasks__item-cell">
			<div class="list-of-tasks__item-text list-of-tasks__item-text--checked" data-id="{{item.id}}" ng-click="edit(item.id)">{{ item.text}}</div>
			<textarea class="list-of-tasks__item-area" data-id="{{item.id}}" hidden ng-blur="saveText(item.id)"></textarea>
		</div>
		<div class="list-of-tasks__item-cell">
			<a href="#" class="list-of-tasks__icon list-of-tasks__icon-remove  glyphicon glyphicon-remove  pull-right" aria-hidden="true" ng-click="delete($event, item.id)"></a>
			
		</div>
	</li>
</ul>