<div class="main">
	<div class="container">
		<h2 ng-click="oneCategory.removeCategory(oneCategory.activeCategory)" ng-bind="oneCategory.activeCategory"></h2>
		<add-note
			ng-show="oneCategory.showAddField"
			notes="oneCategory.fetchNotes",
			section="{{oneCategory.activeCategory}}"
			save-fn="oneCategory.save()">
		</add-note>
		<br>
		<div class="row">
			<div class="col-xs-12 col-sm-4 col-md-3" ng-repeat="note in oneCategory.notes track by $index"">
				<one-note
					active-section="{{ oneCategory.activeCategory }}"
					note="note"
					callback-fn="oneCategory.save()"
					delete="oneCategory.deleteCertainNote(id)"
					stick-fn="oneCategory.stickFn(id)"
					unstick-fn="oneCategory.unstickNote(id)"
					>
				</one-note>
			</div>
		</div>
	</div>
</div>