<div class="main one-category">
	<div class="container">
		<h2 class="one-category__title" ng-click="oneCategory.removeCategory(oneCategory.activeCategory)" ng-bind="oneCategory.activeCategory"></h2>
		<add-note
			ng-show="oneCategory.showAddField"
			notes="oneCategory.fetchNotes",
			section="{{oneCategory.activeCategory}}"
			save-fn="oneCategory.save()">
		</add-note>
		<br>
		<div
			class="row one-category__list"
			dnd-list="oneCategory.notes"
			dnd-allowed-types="oneCategory.allowedTypes"
		>
			<div 
				ng-repeat="note in oneCategory.notes"
				class="col-xs-12 col-sm-4 col-md-3 one-category__note"
				dnd-type="note.type"
				dnd-draggable="note"
				dnd-moved="oneCategory.notes.splice($index, 1); oneCategory.writeNotesOrder(oneCategory.notes);"
				dnd-effect-allowed="move"
				dnd-dragstart="oneCategory.logEvent(event, 'Started to drag an item')">
				<one-note
					active-section="{{ oneCategory.activeCategory }}"
					note="note"
					callback-fn="oneCategory.save()"
					delete="oneCategory.deleteCertainNote(id)"
					stick-fn="oneCategory.stickFn(id)"
					unstick-fn="oneCategory.unstickNote(id)"
				>
				</one-note>
			</div>
		</div>
	</div>
</div>