<div class="container">
	<h2>Недавние</h2>
	<div class="row">
		<div class="col-sm-12">
		<h2>{{ recent.today }}</h2>
		<div class="row">
			<div class="col-xs-12 col-sm-4 col-md-3" ng-repeat="note in filtered = (recent.todayNotes)">
				<div> <a ui-sref="^.category({categoryId: note.section })" class="label label-default">{{ note.section }}</a> 
					<one-note
						active-section="{{ note.section }}"
						note="note"
						callback-fn="recent.save()"
						delete="recent.deleteCertainNote(id, note.section)">
					</one-note>
				</div>
			</div>
		</div>
	</div>
</div>